@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .hero {
        background-image: url(../src/assets/bg-image.png);
        background-position: top center;
        background-size: 100%;
    }

    .menu-list-style:before {
        position: absolute;
        content: '';
        top: .5rem;
        left: -.8rem;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: white;
    }

    .menu-list-style-info:before {
        left: .2rem;
    }

    .list-hyphen {
        transition: .35s ease-in;
    }

    .list-hyphen:before {
        content: '';
        position: absolute;
        top: 43%;
        left: 0;
        width: 0rem;
        height: 5px;
        background: white;
        transition: .35s ease-in;
    }

    .list-hyphen:hover {
        padding-left: 5rem;
    }

    .list-hyphen:hover:before {
        width: 4rem;
    }
};